// ======
// GRID
// ======

.Grid {
  @include clearfix;
  margin:  0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.Grid > * {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  font-size: medium;
  text-justify: auto;
}