.AboutMe {
    background-color: $off-white;
    margin-left: auto;
    margin-right: auto;

    padding-top: 256px;
    padding-bottom: 56px;
    padding-left: 98px;
    padding-right: 98px;
}

.AboutMe-content {
    @media #{$tablet} {
        padding-left: 96px;
    }
}