.AboutMe {
    height: 1000px;
    background-color: $off-white;
    margin-top: -100px;
    padding-top: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 98px;
    padding-right: 98px;
}

.AboutMe-content {
    padding-left: 96px;
}