.HomeBlog {
    padding-top: 48px;
    background-color: $off-white;
}

.HomeBlog--blue {
    background-color: $primary;
    
    // Only blue has the slant
    z-index: 2;
    position: relative;

    .HomeBlog-header-main, p, .BlogTile-title, .FeatureBlog-title {
        color: $white;
    }
}

.HomeBlog-slant {
    height: 200px;
    margin-top: -64px;
    -webkit-transform: skewy(2deg);
    transform: skewy(2deg);
    background-color: $primary;
    z-index: 1;
}

.HomeBlog-slant + div {
    margin-top: -150px;
}

.HomeBlog-header {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.HomeBlog-header-leading {
    @extend %condensed-font;
    color: $light-gray;
    opacity: 0.5;
}

.HomeBlog-header-main {
    margin-top: 0;
}

.HomeBlog-tiles {
    padding-left: 98px;
    padding-right: 98px;
    padding-bottom: 144px;
    margin: 36px auto;
}

.Homeblog-tiles-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
