.u-left {
    float: left;
}

.u-right {
    float: right;
}

.u-inline {
    display: inline;
}

.u-center {
    margin-left: auto;
    margin-right: auto;
}

.u-sm-hidden {
    @media #{$mobile-only} {
        display: none;
    }
}

.u-md-hidden {
    @media #{$tablet} {
        display: none;
    }
}