.u-left {
    float: left;
}

.u-right {
    float: right;
}

.u-inline {
    display: inline;
}

.u-center {
    margin-left: auto;
    margin-right: auto;
}

.u-flex {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}