// ============
// GRID
// ============

$grid-font-size: 1rem;
$grid-gutter-size: $h/2;
$grid-gutter-size-medium: $h/1.5;
$grid-gutter-size-large: $h;


// ============
// Grid container
// ============

.Grid {
  display: block; // 1
  font-size: 0; // 2
  margin: 0; // 1
  padding: 0; // 1
  text-align: left; // 3
}

// Gutters ============
// NOTE: this can trigger a horizontal scrollbar if the component is as wide as
// the viewport. Use padding on a container, or `overflow-x:hidden` to protect against it.
.Grid--withGutter {
  margin-left: calc(-0.5 * #{$grid-gutter-size});
  margin-right: calc(-0.5 * #{$grid-gutter-size});

  @media #{$tablet} {
    margin-left: calc(-0.5 * #{$grid-gutter-size-medium});
    margin-right: calc(-0.5 * #{$grid-gutter-size-medium});
  }

  @media #{$desktop} {
    margin-left: calc(-0.5 * #{$grid-gutter-size-large});
    margin-right: calc(-0.5 * #{$grid-gutter-size-large});
  }

  > .Grid-cell {
    padding-left: calc(0.5 * #{$grid-gutter-size});
    padding-right: calc(0.5 * #{$grid-gutter-size});

    @media #{$tablet} {
      padding-left: calc(0.5 * #{$grid-gutter-size-medium});
      padding-right: calc(0.5 * #{$grid-gutter-size-medium});
    }
    
    @media #{$desktop} {
      padding-left: calc(0.5 * #{$grid-gutter-size-large});
      padding-right: calc(0.5 * #{$grid-gutter-size-large});
    }
  }
}

.Grid-cell {
  display: inline-block;
  font-size: $grid-font-size;
  margin: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
  width: 100%;
}

.Grid-cell--center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}