.Button {
  border-radius: 8px;
  color: $aqua;
  background: $white;
  padding: 8px;
  display: block;
  width: auto;
  text-align: center;
  min-width: 200px;
  display: block;
  text-decoration: none;
}