.Button {
  @extend %primary-font;
  border-radius: 4px;
  color: $white;
  background: $orange;
  padding: 8px;
  display: block;
  width: auto;
  text-align: center;
  min-width: 200px;
  display: block;
  text-decoration: none;
}

.Button--bland {
  background: transparent;
  font-size: 1.25rem;
  min-width: 0;
}